//.btnGo {
////  position: fixed !important;
////  right: 25px;
////  bottom: 25px;
////}

:global {
  html,
  body,
  #app,
  .main-wrapper {
    width: 100%;
    height: 100%;
  }

  .container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .text-center {
    text-align: center !important;
  }
  .text-right {
    text-align: right !important;
  }

  .pull-right {
    float: right;
  }

  ul {
    padding-left: 8px;
    li {
      list-style: none;
    }
  }
}
